.c-skills {

  @keyframes html {
    from {
      width: 15%;
      opacity: 0;
    }
    to {
      width: 95%;
    }
  }

  @keyframes css {
    from {
      width: 15%;
      opacity: 0;
    }
    to {
      width: 85%;
    }
  }

  @keyframes js {
    from {
      width: 15%;
      opacity: 0;
    }
    to {
      width: 64%;
    }
  }

  @keyframes react {
    from {
      width: 15%;
      opacity: 0;
    }
    to {
      width: 45%;
    }
  }

  @keyframes ror {
    from {
      width: 15%;
      opacity: 0;
    }
    to {
      width: 40%;
    }
  }

}