.c-article {
  padding: 2em 0 0 0;

  &__title {
    text-transform: uppercase;
    font-weight: bold;
  }

  &__inner {
    position: relative;
    
    &--image {
      img {
        width: 100%;
        padding-bottom: .5em;
      }
    }
    &--body {
      text-align: justify;

      p {
        padding-bottom: .8em;
      }
      pre {
        margin-bottom: .8em;
        
        code {
          background: black;
          color: white;
          display: block;
          overflow-x: auto;
        }
      }
    }
  }
  &__date {
    color: $danger;
    padding: 1em 0;
  }
}

@media screen and (min-width: $tablet-break) {

  .c-article {
  
    &__inner {     
      &--image {
        img {
          width: 50%;
          float: left;
          padding-right: 1em;
          padding-bottom: 0;
        }
      }
    }
    &__date {
      clear: both;
    }
  }
}