.c-article {
  padding: 2em 0em 1em 0em;

  &__title {
    text-transform: uppercase;
  }
  &__image {
    img {
      width: 100%;
    }
    padding-bottom: 1em;
  }
  &__body {
    padding-bottom: 1em;
  }
  &__date {
    color: $header-typewriter;
  }
}

@media screen and (min-width: $tablet-break) {

  .c-article {

    &__body {
      font-size: 18px;
    }
  }
}