.c-articles {
  padding-top: 2em;

  &__gallery {
    padding-top: 2em;
    min-height: 80vh;
  }
  
  &__list {
    position: relative;
    background: $light;
    margin: .5em;
    animation-timing-function: ease-in;

    &:nth-child(1) {
      animation: articleCardFirst 2s;
    }

    &:nth-child(2) {
      animation: articleCardSecond 3s;
    }

    &:nth-child(3) {
      animation: articleCardThird 4s;
    }

    &--link {
      text-decoration: none;
      color: $dark;
    }

    &--hero {
      width: 100%;
      filter: sepia(100%);
      transition: .3s ease-in-out;

      &-active {
        filter: sepia(0);
      }
    }
    &__inner {

      &--title {
        text-transform: uppercase;
        padding: .5em;
      }
      &--body {
        display: block;
        text-align: justify;
        text-overflow: ellipsis;
        word-wrap: break-word;
        overflow: hidden;
        height: 4em;
        padding: .5em;
      }

      &--footer {
        display: flex;
        align-items: center;
        height: 50px;
        justify-content: space-between;
        padding: 0 .5em;

        &-date {
          font-size: 14px;
          color: $danger;
        }

        &-gears {
          display: block;
          &_big {
            width: 20px;
            &-active {
              transform-origin: center;
              animation: rotate 1.5s linear infinite; 
            }
          }
          &_small {
            width: 15px;
            &-active {
              transform-origin: center;
              animation: reverseRotate 1.5s linear infinite;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: $tablet-break) {

  .c-articles {
    &__list {
      width: 35vw;
    }
  }
}

@media screen and (min-width: $laptop-break) {
  .c-articles {
    &__list {
      width: 26vw;
    }
  }
}