.c-container {
  width: 95%;
  margin: 0 auto;
  color: $dark;
  margin-bottom: 3em;
}

@media screen and (min-width: $tablet-break) {

  .c-container {
    width: 85%;
  }
}

.c-contact-container {
  width: 95%;
  margin: 0 auto;
  color: $dark;
  min-height: 67vh;
}

@media screen and (min-width: $tablet-break) {

  .c-contact-container {
    width: 85%;
    min-height: 77vh;
  }
}