.c-comments {
  
  &__comment {
    padding: 2.5em 0 0 0;

    &-hr {
      width: 4em;
      display: block;
      height: 2px;
      border: 0;
      border-top: 4px solid $danger;
      margin: .5em 0 1em 0;
    }
    &__card {
      padding: .5em 0em;
      &--name {
        font-weight: bold;
      }
      &--body {
        padding: 0 0 .5em 0;
      }
      &--date {
        color: $danger;
      }
    }
  }
}
