.c-comment__form {
  padding-top: 1em;

  &--user {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    &-image {
      width: 30px;
      border-radius: 50%;
      vertical-align: middle;
    }
    &-name {
      
      padding: 0 .5em;
      vertical-align: middle;
    }
    
  }

  &--body {
    &-text {
    width: 100%;
    max-width: 400px;
    height: 150px;
    margin: 8px 0;  
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    }
  }

  &--row {
    padding: .5em 0em;

    a {
      margin: 2em;
    }
  }
}