.c-comments {
  
  &__comment {
    padding: 2em 0 0 0;

    &__card {
      padding: .5em 0em;
      &--name {
        font-weight: bold;
      }
      &--body {
        padding: 0 0 .5em 0;
      }
      &--date {
        color: $danger;
      }
    }
  }
}
