.c-control {
   
  &__btn {
    position: absolute;
    top: 50%;
    display: inline-block;
   
    &-default {
      display: flex;
      flex-direction: column;
      background-color: $dark;
      width: 20px;
      height: 4px;
      margin: 5px;
      border: none;
      border-radius: 20px;
    }

    &--prev {
      left: 0;
      padding-left: 5px;

      &:hover {
        cursor: pointer;
      }
    }
    &--next {
      right: 0;
      padding-right: 5px;

      &:hover {
        cursor: pointer;
      }
    }

    &--lefttop,
    &--rightbottom {
      transform: rotate(150deg);
      &:hover {
        cursor: pointer;
      }
    }
    &--leftbottom,
    &--righttop {
      transform: rotate(30deg);
      &:hover {
        cursor: pointer;
      }
    }
    &:hover {
      cursor: pointer;
    }
  }
}