.c-skills {
  margin-top: 3em;

  &__container {
    width: 90%;
    margin: auto;
    color: $dark;
    font-weight: bold;

    &__wrapper {
      background-color: gray;
      margin: 1em 0;
      padding: 0;

      div {
        padding: .5em;
        font-size: 13px;
      }

      &--right {
        float: right;
        font-size: 12px;
        margin-top: 2px;
      }

      &--html {
        background-color: #E54C26;

        &-active {
          width: 95%;
          transition: 2s;
          background-color: #E54C26;
        }
      }

      &--css  {
        background-color: #264DE4;
        
        &-active {
          width: 80%;
          transition: 2s;
          background-color: #264DE4;
        }
      }

      &--javascript  {
        background-color: #E8D64C;
        
        &-active {
          width: 64%;
          transition: 2s;
          background-color: #E8D64C;
        }
      }

      &--react {
        background-color: #5ED3F4;

        &-active {
          width: 25%;
          transition: 2s;
          background-color: #5ED3F4;
        }
      }

      &--ror {
        background-color: #E61522;
       
        &-active {
          width: 50%;
          transition: 2s;
          background-color: #E61522;
        }
      }

      &--html,
      &--css,
      &--javascript,
      &--react,
      &--ror {
        width: 15%;
      }
    }
  }
}

@media screen and (min-width: $tablet-break) {

  .c-skills__container__wrapper div {
    font-size: 15px; 
  }
}